In [1]:
#testing pyspark installation
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark-3.0.3-bin-hadoop2.7'

In [2]:
#initiate spark context

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [4]:
df1 = spark.read.csv('../Dataset_rev/videos_rev.csv', header=True, inferSchema=True)
df2 = spark.read.csv('../Dataset_rev/video_numWatched.csv', header=True, inferSchema=True)

In [5]:
df1.printSchema()

root
 |-- id: string (nullable = true)
 |-- attribute_id: string (nullable = true)
 |-- music_id: string (nullable = true)
 |-- animation_id: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- creator: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- num_shares: integer (nullable = true)
 |-- game_id: string (nullable = true)
 |-- is_ar: boolean (nullable = true)
 |-- user_created_at: string (nullable = true)
 |-- class: string (nullable = true)
 |-- user_latitude: double (nullable = true)
 |-- user_longitude: double (nullable = true)
 |-- user_city: string (nullable = true)
 |-- user_state: string (nullable = true)
 |-- user_country: string (nullable = true)

In [6]:
df2.printSchema()

root
 |-- videoId: string (nullable = true)
 |-- numWatched: integer (nullable = true)

In [7]:
#left join video and numWatched
df3 = df1.join(df2, df1.id == df2.videoId, "left")

In [8]:
df3.printSchema()

root
 |-- id: string (nullable = true)
 |-- attribute_id: string (nullable = true)
 |-- music_id: string (nullable = true)
 |-- animation_id: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- creator: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- num_shares: integer (nullable = true)
 |-- game_id: string (nullable = true)
 |-- is_ar: boolean (nullable = true)
 |-- user_created_at: string (nullable = true)
 |-- class: string (nullable = true)
 |-- user_latitude: double (nullable = true)
 |-- user_longitude: double (nullable = true)
 |-- user_city: string (nullable = true)
 |-- user_state: string (nullable = true)
 |-- user_country: string (nullable = true)
 |-- videoId: string (nullable = true)
 |-- numWatched: integer (nullable = true)

In [9]:
df3.drop("videoId").write.options(header='True', delimiter=',').csv("videos_rev2")

In [10]:
df1 = spark.read.csv('../Dataset_rev/users_rev2.csv', header=True, inferSchema=True)
df2 = spark.read.csv('../Dataset_rev/user_numWatched.csv', header=True, inferSchema=True)

In [11]:
df1.printSchema()

root
 |-- id: string (nullable = true)
 |-- user_created_at: string (nullable = true)
 |-- class: string (nullable = true)
 |-- user_latitude: double (nullable = true)
 |-- user_longitude: double (nullable = true)
 |-- user_city: string (nullable = true)
 |-- user_state: string (nullable = true)
 |-- user_country: string (nullable = true)
 |-- # of videos: integer (nullable = true)

In [12]:
df2.printSchema()

root
 |-- userId: string (nullable = true)
 |-- numWatched: integer (nullable = true)

In [13]:
#left join user and numWatched
df3 = df1.join(df2, df1.id == df2.userId, "left")

In [14]:
df3.printSchema()

root
 |-- id: string (nullable = true)
 |-- user_created_at: string (nullable = true)
 |-- class: string (nullable = true)
 |-- user_latitude: double (nullable = true)
 |-- user_longitude: double (nullable = true)
 |-- user_city: string (nullable = true)
 |-- user_state: string (nullable = true)
 |-- user_country: string (nullable = true)
 |-- # of videos: integer (nullable = true)
 |-- userId: string (nullable = true)
 |-- numWatched: integer (nullable = true)

In [15]:
df3.drop("userId").write.options(header='True', delimiter=',').csv("users_rev3")

In [16]:
#stop
sc.stop()