In [1]:
from pathlib import Path
data_folder = Path("../Dataset")
output_folder = Path("../Dataset_rev")

file_users = data_folder / "users.csv"
output = output_folder / "users_rev.csv"

In [2]:
import pandas as pd

df_users = pd.read_csv(file_users)
df_users

,Unnamed: 0,id,created_at,class,coordinates
0,0,37e369a8-4477-4d5d-acd7-4e3b8059586e,2021-03-23 00:24:53,Creator,"('36.76775', '2.95924')"
1,1,27cf0bb6-3488-4662-916d-3ad04eeec9ca,2021-04-09 19:55:07,Viewer,"('43.71032', '-1.05366')"
2,2,5ebd5e12-ba2a-4bf9-b7e4-92ad24711cd4,2021-04-08 21:48:45,Super Gamer,"('51.26', '-2.1875')"
3,3,30986592-0cbf-43bb-83ed-7501ab3bd373,2021-05-15 00:45:51,Creator,"('40.65538', '-74.38987')"
4,4,25b49125-34d1-4694-a4a9-8415bcc3567b,2021-07-05 04:08:53,Viewer,"('35.61452', '-88.81395')"
...,...,...,...,...,...
995,995,d91c5e9a-ed7e-4f4a-b62b-ddabe069198a,2021-11-15 15:16:47,Viewer,"('-23.44361', '-51.87389')"
996,996,b80a25b8-a567-449c-af7a-420c46254112,2021-03-26 22:23:00,Creator,"('54.48147', '53.47103')"
997,997,3d27e9ff-bc73-47f7-a51d-3047e6ec959f,2021-08-28 20:45:04,Super Gamer,"('18.87813', '72.93924')"
998,998,84e57e9b-4e2e-408b-a351-2aedf85a207c,2021-04-15 10:35:55,Viewer,"('31.92923', '34.86563')"
999,999,471e1687-07ba-4bb6-8341-839bd3d7c851,2021-05-01 09:08:13,Viewer,"('27.76056', '-15.58602')"

## cordinates -> latitude, longitude

In [3]:
coordinates = [eval(coord) for coord in df_users['coordinates']]

latitude, longitude = zip(*coordinates)

df_users['user_latitude'] = latitude
df_users['user_longitude'] = longitude

df_users.drop(columns=['Unnamed: 0', 'coordinates'], inplace=True)
df_users.rename(columns={'created_at':'user_created_at'}, inplace=True)

In [4]:
df_users

,id,user_created_at,class,user_latitude,user_longitude
0,37e369a8-4477-4d5d-acd7-4e3b8059586e,2021-03-23 00:24:53,Creator,36.76775,2.95924
1,27cf0bb6-3488-4662-916d-3ad04eeec9ca,2021-04-09 19:55:07,Viewer,43.71032,-1.05366
2,5ebd5e12-ba2a-4bf9-b7e4-92ad24711cd4,2021-04-08 21:48:45,Super Gamer,51.26,-2.1875
3,30986592-0cbf-43bb-83ed-7501ab3bd373,2021-05-15 00:45:51,Creator,40.65538,-74.38987
4,25b49125-34d1-4694-a4a9-8415bcc3567b,2021-07-05 04:08:53,Viewer,35.61452,-88.81395
...,...,...,...,...,...
995,d91c5e9a-ed7e-4f4a-b62b-ddabe069198a,2021-11-15 15:16:47,Viewer,-23.44361,-51.87389
996,b80a25b8-a567-449c-af7a-420c46254112,2021-03-26 22:23:00,Creator,54.48147,53.47103
997,3d27e9ff-bc73-47f7-a51d-3047e6ec959f,2021-08-28 20:45:04,Super Gamer,18.87813,72.93924
998,84e57e9b-4e2e-408b-a351-2aedf85a207c,2021-04-15 10:35:55,Viewer,31.92923,34.86563
999,471e1687-07ba-4bb6-8341-839bd3d7c851,2021-05-01 09:08:13,Viewer,27.76056,-15.58602

## Get location from latitude and longitude

In [5]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="user_location")

city = []
state = []
country = []

for coord in coordinates:
    location = geolocator.reverse(coord, language="en")
    
    try:
        address = location.raw['address']

        # traverse the data
        city.append(address.get('city', ''))
        state.append(address.get('state', ''))
        country.append(address.get('country', ''))
        
    except:
        city.append('')
        state.append('')
        country.append('')

In [6]:
df_users['user_city'] = city
df_users['user_state'] = state
df_users['user_country'] = country

In [7]:
df_users

,id,user_created_at,class,user_latitude,user_longitude,user_city,user_state,user_country
0,37e369a8-4477-4d5d-acd7-4e3b8059586e,2021-03-23 00:24:53,Creator,36.76775,2.95924,,Algiers,Algeria
1,27cf0bb6-3488-4662-916d-3ad04eeec9ca,2021-04-09 19:55:07,Viewer,43.71032,-1.05366,,New Aquitaine,France
2,5ebd5e12-ba2a-4bf9-b7e4-92ad24711cd4,2021-04-08 21:48:45,Super Gamer,51.26,-2.1875,,England,United Kingdom
3,30986592-0cbf-43bb-83ed-7501ab3bd373,2021-05-15 00:45:51,Creator,40.65538,-74.38987,,New Jersey,United States
4,25b49125-34d1-4694-a4a9-8415bcc3567b,2021-07-05 04:08:53,Viewer,35.61452,-88.81395,Jackson,Tennessee,United States
...,...,...,...,...,...,...,...,...
995,d91c5e9a-ed7e-4f4a-b62b-ddabe069198a,2021-11-15 15:16:47,Viewer,-23.44361,-51.87389,,Paraná,Brazil
996,b80a25b8-a567-449c-af7a-420c46254112,2021-03-26 22:23:00,Creator,54.48147,53.47103,,Bashkortostan,Russia
997,3d27e9ff-bc73-47f7-a51d-3047e6ec959f,2021-08-28 20:45:04,Super Gamer,18.87813,72.93924,,Maharashtra,India
998,84e57e9b-4e2e-408b-a351-2aedf85a207c,2021-04-15 10:35:55,Viewer,31.92923,34.86563,,Center District,Israel
999,471e1687-07ba-4bb6-8341-839bd3d7c851,2021-05-01 09:08:13,Viewer,27.76056,-15.58602,,,Spain

In [8]:
df_users.to_csv(output)